/*BIENVENIDA*/
.body1{
    background-image: url('FONDOSULLIVAN.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100vh;     
    width: 100vw;      
    margin: 0;  
    background-size: cover;        /* Recorta y estira proporcionalmente sin deformar */
    background-position: center;   /* Mantiene el centro de la imagen visible en cualquier pantalla */
    background-attachment: fixed;
}

.btn1 {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 100vh;           /* Toma todo el alto de la pantalla (opcional) */
}

/*LOGIN*/
.body2{
    background: linear-gradient(-45deg, #7a9cec, #382ebd, #7353ca, #194ab3);
    background-size: 400% 2500%;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    animation: cambiarFondo 10s ease infinite;
    align-content: center;
}
@keyframes cambiarFondo {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
@keyframes flotar {
    0% {
        transform: translateY(0) translateX(0) scale(1);
        opacity: 0;
    }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% {
        transform: translateY(-110vh) translateX(100px) scale(1.2);
        opacity: 0;
    }
}
.burbuja{
     position: absolute;
    bottom : -100px;
    background:rgba(255 255 255 0.1);
    border : 1px solid rgba(255, 255, 255, 0.25);
    border-radius : 50%;
    box-shadow : 0 0 10px rgba(255, 255, 255, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.2);
    animation : flotar 12s linear infinite;
}

.burbuja:nth-child(1) { left: 10%; width: 80px; height: 80px; animation-duration: 14s; animation-delay: 0s; }
.burbuja:nth-child(2) { left: 25%; width: 40px; height: 40px; animation-duration: 10s; animation-delay: 2s; }
.burbuja:nth-child(3) { left: 40%; width: 120px; height: 120px; animation-duration: 18s; animation-delay: 4s; filter: blur(2px); } /* Fondo desenfocado */
.burbuja:nth-child(4) { left: 55%; width: 60px; height: 60px; animation-duration: 12s; animation-delay: 1s; }
.burbuja:nth-child(5) { left: 70%; width: 90px; height: 90px; animation-duration: 16s; animation-delay: 5s; }
.burbuja:nth-child(6) { left: 85%; width: 30px; height: 30px; animation-duration: 8s; animation-delay: 3s; }
.burbuja:nth-child(7) { left: 50%; width: 50px; height: 50px; animation-duration: 13s; animation-delay: 7s; }
.burbuja:nth-child(8) { left: 80%; width: 110px; height: 110px; animation-duration: 20s; animation-delay: 2s; filter: blur(1px); }
/*préstamo-alumnos*/
.TituloAlumnosstyle{
    text-align: center;
}
/*préstamo-profesores*/
/*inventario*/
.TituloInventario{
    align-items: center;
}
.buttion{
   width: 280px;
   padding: 40px;
   margin: 50% auto;
   border-radius: 10PX;
   font-family: Catellar;
   text-align: center;
  
   
}
.bton-1{
        width: 100%;
            padding: 14px 28px;     
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 50px; 
            margin-right: 15px;
            text-align: center;
}



.bton-2{
         width: 100%;
            padding: 14px 28px;     
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 50px; 
            margin-right: 15px;
            margin: 20Px;
            text-align: center;

}


.bton-3{
           width: 100%;
            padding: 14px 28px;     
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 50px; 
            margin-right: 15px;
            text-align: center;
}
